<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-if="collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{brandHref}}">{{brand}}</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div ng-class="{'navbar-collapse': collapse, collapse: collapse}">
    </ul>
    <ul class="nav navbar-nav" ng-transclude>
  </div> <!-- /.navbar-collapse -->
</nav>
